#info-art {
    color: white;
    padding: 10px;
    font-size: 14px;
}

#info-art p {
    margin-bottom: 5px;
}

#info-art .buttons {
    display: flex;
    gap: 5px; /* Espacio entre botones */
    margin-top: 10px; /* Espacio entre texto y botones */
}

#info-art .buttons button {
    padding: 5px 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#info-art .buttons button:hover {
    background-color: darkgray;
}

/**/

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.pagination a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    background-color: rgb(32, 32, 32);
    border: 1px solid #444;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: darkgray;
}

.pagination a.active {
    background-color: gray;
    color: white;
    border: 1px solid #666;
}
